@import "bourbon";

.animatedParagraph {
  max-width: 1000px;
  @include user-select(none);

  font-family: "goudy bookletter 1911";//"candelas plus";//"linden hill";//
  font-size: 20px;
  line-height: 1.2;
}

line {
  display: block;
}

word {
  position: relative;
  @include transition(width 1s ease);
}

currentWord {
}

wordOverlay {
  position: absolute;
  left: 0px;
  opacity: 1;
}
