@import "fonts/fonts.scss";

body {
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 20%);

  font-family: "goudy bookletter 1911";//"candelas plus";//"linden hill";//
  padding: 100px;
}

#title {
  margin-bottom: 0px;
}

#author {
  margin-top: 0px;
}

h1, h2 {
  font-weight: normal;
}
